.product--container {
  border-radius: 10px;
  margin: 2rem;
  padding: 1.5rem;
  background-color: #917fb3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-info {
  background-color: #fde2f33b;
  border-radius: 10px;
  max-width: 400px;
  margin: 1rem auto;
  font-size: 25px;
  /* transition: font-size 4s 1s; */
  text-align: center;
  letter-spacing: 2px;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 1s ease-in-out;
}

.product-info:hover {
  /* font-size: 30px; */
  background-color: #ba90c6;
  cursor: pointer;
}

.product-price {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  color: rgb(61, 53, 53);
}

.food-img {
  display: block;
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #2a2f4f;
}
